In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.array([
    ["Blue", [1,2], 1.1],
    ["Red",  [3,4], 2.2],
    ["Pink", [5,6], 3.3],
    ["Grey", [7,8], 4.4],
    ["Black",[9,10], 5.5],
], dtype=object)
print(data)

[['Blue' list([1, 2]) 1.1]
 ['Red' list([3, 4]) 2.2]
 ['Pink' list([5, 6]) 3.3]
 ['Grey' list([7, 8]) 4.4]
 ['Black' list([9, 10]) 5.5]]

In [4]:
index = [1,3,5,7,9]

In [5]:
print(index)

[1, 3, 5, 7, 9]

In [6]:
columns= ["color", "list", "number"]
print(columns)

['color', 'list', 'number']

In [9]:
# Dataframe from a numpy array
dataframe1 = pd.DataFrame(data, columns=columns, index=index)
print(dataframe1)

   color     list number
1   Blue   [1, 2]    1.1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

In [10]:
# Dataframe from a pandas series 
colors = pd.Series(["Blue", "Red", "Pink", "Grey", "Black"], index=index)
lists = pd.Series([[1,2], [3,4], [5,6], [7,8], [9,10]], index=index)
numbers = pd.Series([1.1,2.2,3.3,4.4,5.5], index=index)

In [11]:
dataframe2 = pd.DataFrame({
    "color": colors,
    "list": lists, 
    "number": numbers
})
print(dataframe2)

   color     list  number
1   Blue   [1, 2]     1.1
3    Red   [3, 4]     2.2
5   Pink   [5, 6]     3.3
7   Grey   [7, 8]     4.4
9  Black  [9, 10]     5.5

In [14]:
print("Column dtypes:\n", dataframe2.dtypes, "\n")

print("Type of first value in each column:")
for col in dataframe2.columns:
    print(col, "->", type(dataframe2[col].iloc[0]))

Column dtypes:
 color      object
list       object
number    float64
dtype: object

Type of first value in each column:
color -> <class 'str'>
list -> <class 'list'>
number -> <class 'numpy.float64'>